<!DOCTYPE html>
  <html>
  <head>
  <!--begin.rcode setTitle, echo=F
title <- "test me"
end.rcode-->
  <title>
  <!--begin.rcode genTitle, results='asis', echo=F
cat(all_options["title"])
end.rcode-->
  </title>
  </head>
  <body>